<footer class="footer">
    <div>
        <p>
            
            <strong>Headquarters</strong> <br>
            Jenderal Gatot Subroto Street Kav. 8888 <br>
            Jakarta 88888 Indonesia <br>
            Phone: 14045, +62-21-4444444 <br>
            Fax: +62-21-4444444 <br>
            SWIFT Code: DMMY <br>
            
            Bank Dummy is registered and overseen by OJK <br> <br>

            <strong> Bank Loans Prediction</strong> by <a href="https://www.instagram.com/antikbandung/">Goldy Fatihadi</a><br>
        </p>
    </div>

</footer>